

/*Bold*/
@font-face {
    font-family: IBMPlexSans-Bold; /* Имя шрифта */
    src: url(../fonts/IBMPlexSans-Bold.ttf); /* Путь к файлу со шрифтом */
}

/*Regular*/
@font-face {
    font-family: IBMPlexSans-Regular; /* Имя шрифта */
    src: url(../fonts/IBMPlexSans-Regular.ttf); /* Путь к файлу со шрифтом */
}


/*Thin*/
@font-face {
    font-family: IBMPlexSans-Thin; /* Имя шрифта */
    src: url(../fonts/IBMPlexSans-Thin.ttf); /* Путь к файлу со шрифтом */
}

/*IBMPlexSans-Light*/
@font-face {
    font-family: IBMPlexSans-Light; /* Имя шрифта */
    src: url(../fonts/IBMPlexSans-Light.ttf); /* Путь к файлу со шрифтом */
}





html, body {
    height: 100%;
	font-family: IBMPlexSans-Light;
	    font-size: 16px;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: IBMPlexSans-Bold;
	
}





.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-brand {
	    padding: 12px 15px;
}

.navbar.navbar-fixed > .container {
	padding: 0px;
}
 
 
 

.navbar a {
	
	color: #333;
}

.header-box {
	position: absolute;
    width: 100%;
}


.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ffffff8c;
}


.navbar.navbar-fixed .container {
	border-bottom: 1px solid #d9e4f0;
}


.navbar-nav.newnav {
	text-align: center;
    width: 69%;
    /* float: none; */
}


.zayavka-box {
	float: right;
}

.zayavka {
	display: block;
    padding: 8px 18px;
    margin-top: 6px;
    border: 1px solid;
    border-radius: 24px;
    cursor: pointer;
    background: none;
	margin-right: -15px;
	margin-right: 124px;
}

.zayavka:focus {
	    outline: none;
		border: 1px solid #000;
}


.lang-head {
	
float: right;
    padding: 11px;
    background: #fff;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 4px;
    border: 1px solid #333;
}

.lang-head:hover {
	
	text-decoration: none;
}

.lang-head.active {
	background: #0b58ff;
	color: #fff;
	border: 1px solid #333;
}



.navbar-nav > li {
	    float: none;
    display: inline-block;
}


.blue-text {
	color: #3f7bff;
	font-weight: 600;
	font-size: 20px;
}


.navbar-brand {
	    height: 56px;
}

.navbar-nav > li > a {
	line-height: 25px;
}

.jumbotron p {
    margin-bottom: 21px;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.5;
}


@media (min-width: 1360px) {
.container {
    width: 1200px;
}
}

@media (min-width: 1600px) {
.container {
    width: 1400px;
}
}



.clear {
	clear: both;
}



section {
	min-height: 768px;
}

.flex-center-align {
	    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
}


.jumbotron {
	margin: auto;
}
.jumbotron h1, .jumbotron .h1 {
	font-size: 38px;
}

section.first-banner {
	background: #ebf1ff;
	height: 100vh;
}


section img {
	max-width: 100%;
}

section.second-sec {
	padding-top: 120px;
	padding-bottom: 120px;
}

.main-ul {

    /* list-style-image: url(../images/check-01.svg); */
    list-style: none;
	padding: 0px;

}


.main-ul li{
    font-size: 16px;
    margin-bottom: 18px;
    min-height: 110px;
	
	    padding-left: 29px;
    /* list-style-image: url(../images/check-01.svg); */
    list-style: none;
    background-image: url(../images/check-01.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 2px;
	
}


.bg-siren {
	background: #ebf1ff;
	padding-top: 50px;
    padding-bottom: 50px;

}

.steps {
	    background: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #f7f7f7;
}

.st-wr {
	color: #3f7bff;
	font-size: 18px;
	position: absolute;	
}

.img-wrap-step {
	width: 106px;
    margin: auto;
    margin-top: 11px;
    height: 188px;
	border-bottom: 1px solid #f7f7f7;
}

.img-wrap-step.wide {
	    width: 214px;
    height: 188px;
}

.step-text {
	    padding: 15px;
    background: #fff;
	
	  border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


section.how-work-sec { 
  min-height: 400px;
}

section.carousel-sec {
	padding-top: 50px;
	padding-bottom: 50px;
	    min-height: auto;
}

.item-class {
	padding: 20px;
}

.new-footer {
	
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #f7f7f7;
	background: #fff;
}

.new-footer ul {
	list-style: none;
	padding: 0px;
}

.new-footer ul li {
    line-height: 2;
}

.new-footer ul li a {
	color: #333;
	line-height: 1.5;
}

/*Пока так, далее допилим*/
.site-error {
	margin-top: 70px;
}


.blue-zayavka {
	display: inline;
    color: #fff;
    background: blue;
    padding: 8px 26px;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    font-family: IBMPlexSans-Light;
    margin-left: 28px;
    font-size: 24px;
    margin-top: -1px;

}

/*Новое меню*/


.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background: #ffffff66;
    border-color: #337ab7;
}

.nav > li  {
	position: inherit;
}


.saasa {
	display: none;
    position: absolute;
    width: 75%;
    left: 12.5%;
    background: #fff;
	box-shadow: 2px 2px 2px #eee;
	
	    z-index: 3;
}


.saasa a {
	color: inherit;
}

.saasa a:hover {
	text-decoration: none;
}

@media (max-width: 1200px) { 

	.saasa .col-lg-5 {
		display: none;
	}

	.navbar-nav.newnav {
		width: 60%;
	}
	
}



.popup-form {
	width: 60%;
	margin: auto;
	
	
	
	
}


/*Новые инпуты*/

.form-control-new {
	line-height: 2.5;
    height: auto;
    border-radius: 55px;
    border: 1px solid #8ba0fb;
    text-align: center;
    margin-bottom: 28px;
    font-size: 18px;
}


.newbutton-submit {
	    display: block;
    margin: auto;
    background: #0b58ff;
    font-size: 19px;
    line-height: 2.5;
    padding: 5px 54px;
    border: navajowhite;
    border-radius: 34px;
}

.modal-footer  {
	border: none;
}

.close {
	    font-size: 28px;
}

.mob-block {
		display: none;
	}
	
	.mob-none {
		display: block;
	}

	

/*Мобильная версия*/
@media (max-width: 1023px) {	
	
	.right-sassa {
		min-height: 740px;
	}
	
	.box-menu-link {
		min-height: 242px;
	}
	
	
.mob-block {
		display: block;
	}
	
	.mob-none {
		display: none;
	}	
	
	.bg-siren .col-md-4 {
		margin-bottom: 15px;
	}
	

}

/*Мобильная версия*/
@media (max-width: 662px) {
	
	.navbar.navbar-fixed > .container {
		/* padding: 0px; */
		padding-right: 15px;
		padding-left: 15px;
	}
	
	
	.popup-form {
		width: 100%;
	}
	
	
	.box-menu-link {
		min-height: 416px;
	}
		
	
	.right-sassa {
		min-height: 860px;
	}
	
	
	
	.saasa {
		width: 100%;
		left: 0%;
	}
	
	.saasa p {
	padding-bottom: 0px;
	}
	
	.jumbotron h1, .jumbotron .h1 {
		font-size: 20px;
	}
	
	.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}


section.second-sec {
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-box-wr {
	text-align: center;
	    margin-bottom: 10px;
}

.img-box-wr img {
	width: 75%;
}


section.carousel-sec {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: auto;
}

.new-footer {
	padding-top: 7px;
}

.main-ul li {
	min-height: auto;
}

.blue-zayavka {
	margin-top: 20px;
    display: block;
    margin-left: 0px;
    width: max-content;
}

.navbar-toggle .icon-bar {
	background: #a5a5a5;
}

.navbar-nav.newnav {
	    text-align: center;
    width: 100%;
    /* float: none; */
    margin: 0px;
}

.navbar-nav > li {
    float: none;
    display: block;
} 

.zayavka-box {
     float: none; 
    margin: auto;
    text-align: center;
	margin-bottom: 5px;
}

.zayavka-box .zayavka {
	display: inline-block;
}


.navbar-fixed {
	background: #ebf1ff;
}
	
.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}	
	
}





.box-menu-link {
	    padding-top: 25px;
}

.modal-header h2 {
	text-align: center;
	margin: 0px;
	font-size: 24px;
}

.modal-header {
    background: #ebf1ff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: none;
}

@media (min-width: 1200px) {
	.modal-dialog {
		width: 900px;
		margin: 30px auto;
	}
	
	.modal-header {
		padding: 24px;
	}
	
	

}


.box-menu-link hr {
	margin-top: 0px;
		    border-top: 1px solid gray;
}

.box-menu-link:hover hr {
	margin-top: 0px;
		    border-top: 1px solid #fff;
}


.box-menu-link svg {
	fill: #333;
	float: right;
    width: 20px;
    margin-left: 10px;
	
}

.box-menu-link:hover svg {
	fill: #fff;
}


.box-menu-link {
	color: #333; 
	background: #fff;
}


.box-menu-link:hover {
	color: #fff; 
	background: #0062ff;
}
.blue-text a {
	color: #3f7bff;
}

.blue-text a:hover {
	color: #3f7bff;
	text-decoration: none;
}

.blue-text svg {
	width: 6px;
	margin-right: 5px;
	margin-left: 5px;
    color: #3f7bff;
}



.right-sassa {
	min-height: 70vh;
} 





@media (min-width: 1300px) { 

	.saasa {
		min-height: 745px;
	}
	
	.right-sassa {
		min-height: 745px;
		position: relative;
		
	}


}
.item-class {
    padding: 20px;
    height: 100px;
    display: flex;
}


.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    margin: auto;
}


.menu-wrapp {
	
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: left;
	padding-bottom: 20px;

}



@media (max-width: 1280px) { 

	.menu-wrapp {
	
		position: relative;
		bottom: 0px;
		width: 100%;
		text-align: left;
		padding-bottom: 20px;

	}




}


@media (max-height: 992px) {

.flex-center-align {
	
	min-height: 992px;
	
}
}
